<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 6~9번째 줄 internet에 연결하는 코드 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Capstone_2024"
        tools:targetApi="31">
        <activity
            android:name=".SplashActivity"
            android:exported="true" />
        <activity
            android:name=".Cook"
            android:exported="true" />
        <activity
            android:name=".Streching"
            android:exported="true" />
        <activity
            android:name=".Muscle"
            android:exported="true" />
        <activity
            android:name=".FindID"
            android:exported="true"/>
        <activity
            android:name=".FindPW"
            android:exported="true"/>
        <activity
            android:name=".Join"
            android:exported="true"/>

        <activity
            android:name=".Health"
            android:exported="true" />
        <activity
            android:name=".Profile"
            android:exported="true" />

        <activity
            android:name=".Muscle_back"
            android:exported="true"
            />
        <activity
            android:name=".Muscle_shoulder"
            android:exported="true"/>
        <activity
            android:name=".Muscle_arm"
            android:exported="true"
            />
        <activity
            android:name=".Muscle_chest"
            android:exported="true"
            />
        <activity
            android:name=".Muscle_abs"
            android:exported="true"
            />
        <activity
            android:name=".Muscle_leg"
            android:exported="true"
            />
        <activity
            android:name=".Muscle_abs_cable"
            android:exported="true"
            />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>